.panel {
    background-color: rgb(var(--card-background-rgb));
    border-radius: 8px;
    padding: 20px;
    border: 1px solid rgb(var(--card-border-rgb));
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(var(--card-border-rgb));
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.header button {
    background: none;
    border: none;
    color: var(--text-secondary-color);
    font-size: 20px;
    cursor: pointer;
}

.header button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content > ul > li {
    margin-bottom: 15px;
}

.content > ul > li > ul {
    list-style-type: ' - ';
    padding-left: 20px;
    font-size: 14px;
    color: var(--text-secondary-color);
}

.noEvents {
    color: var(--text-secondary-color);
    text-align: center;
    margin-top: 30px;
}