.card {
  background-color: rgb(var(--card-background-rgb));
  border: 1px solid rgb(var(--card-border-rgb));
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 16px;
  color: var(--text-secondary-color);
  font-weight: 500;
}

.value {
  margin: 10px 0 0 0;
  font-size: 36px;
  font-weight: bold;
  color: rgb(var(--foreground-rgb));
}

.link {
  background-color: transparent;
  border: 1px solid rgb(var(--card-border-rgb));
  color: var(--text-secondary-color);
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: rgb(var(--input-background-rgb));
  border-color: var(--primary-color);
  color: var(--primary-color);
}