.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.actionsContainer {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filterContainer {
    position: relative;
}

.filterButton {
    background-color: transparent;
    border: 1px solid rgb(var(--card-border-rgb));
    color: var(--text-secondary-color);
    display: flex;
    align-items: center;
    gap: 8px;
}

.filterButton:hover {
    background-color: rgb(var(--card-background-rgb));
    border-color: var(--primary-color);
    color: rgb(var(--foreground-rgb));
}

.filterPanel {
    position: absolute;
    top: 110%;
    right: 0;
    width: 300px;
    background-color: rgb(var(--card-background-rgb));
    border: 1px solid rgb(var(--card-border-rgb));
    border-radius: 8px;
    padding: 20px;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 15px;
}