.day {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid transparent;
}

.day:hover {
    background-color: rgba(var(--input-background-rgb), 0.5);
}

.otherMonth {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.dayNumber {
    font-weight: 500;
    align-self: flex-end;
    color: rgb(var(--foreground-rgb));
}

.today .dayNumber {
    color: var(--primary-color);
    background-color: rgb(var(--foreground-rgb));
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicators {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.indicator {
    height: 4px;
    width: 100%;
    border-radius: 2px;
}