.grid {
  flex-grow: 1;
}

.weekday {
  padding-bottom: 5px;
}

.day {
  background-color: transparent;
  border: none;
  color: var(--text-secondary-color);
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 0;
  border-radius: 6px;
  cursor: not-allowed;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-sizing: border-box;
  position: relative;
}
.day span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .otherMonth {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
  }
.selectable {
  opacity: 1;
  color: rgb(var(--foreground-rgb));
  cursor: pointer;
}
.selectable:hover {
  background-color: rgb(var(--input-background-rgb));
  border-radius: 50%;
}
.inRange {
    background-color: rgba(59, 130, 246, 0.2);
    color: rgb(var(--foreground-rgb));
    opacity: 1;
}
.startRange, .endRange {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-weight: bold;
  opacity: 1;
}
.startRange {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.endRange {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.startRange.endRange {
    border-radius: 50%;
}