.grid {
  grid-template-rows: auto repeat(6, 1fr);
}

.day {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--text-secondary-color);
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 0;
  border-radius: 6px;
  cursor: not-allowed;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-sizing: border-box;
}
.otherMonth {
  opacity: 0.2;
  pointer-events: none;
  cursor: default;
}
.selectable {
  opacity: 1;
  color: rgb(var(--foreground-rgb));
  cursor: pointer;
}
.selectable:hover {
  background-color: rgb(var(--input-background-rgb));
}
.selected {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-weight: bold;
  opacity: 1;
}
.selected:hover {
    background-color: var(--primary-hover-color);
}