.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.mainCard {
    background-color: rgb(var(--card-background-rgb));
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contentGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 25px;
    align-items: flex-start;
    justify-content: center;
}

.onShiftWidget h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary-color);
}

.tableHeader {
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    color: #a0aec0;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 2px solid rgb(var(--card-border-rgb));
}
.tableCell {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid rgb(var(--card-border-rgb));
}